@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,700");
@import url("https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css");
/* line 22, ../compass/sass/styles.scss */
.app {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  background-color: white;
  height: 100vh;
  color: #373737;
  font-size: 16px;
  padding-top: 60px;
}
/* line 30, ../compass/sass/styles.scss */
.app a {
  color: #373737;
  text-decoration: none;
}
/* line 33, ../compass/sass/styles.scss */
.app a:visited {
  color: #373737;
  text-decoration: none;
}
/* line 37, ../compass/sass/styles.scss */
.app a:hover, .app a:active {
  color: #80CC95;
  text-decoration: none;
}

/* line 46, ../compass/sass/styles.scss */
#bottom-nav {
  background-color: white;
  height: 30px;
  padding: 5px;
  color: #373737;
  font-family: "Playfair Display", serif;
  line-height: 15px;
  border-top: #80CC95 solid 1px;
  overflow: hidden;
  position: fixed;
  /* Set the navbar to fixed position */
  bottom: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
}
/* line 58, ../compass/sass/styles.scss */
#bottom-nav .btmnav {
  padding-left: 16px;
}
/* line 61, ../compass/sass/styles.scss */
#bottom-nav li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

/* line 70, ../compass/sass/styles.scss */
ul.topnav li.icon {
  display: none;
}

/* line 74, ../compass/sass/styles.scss */
.app-header {
  background-color: white;
  height: 60px;
  padding: 20px;
  color: #373737;
  font-family: "Playfair Display", serif;
  line-height: 15px;
  border-bottom: #80CC95 solid 1px;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  z-index: 1;
}
/* line 90, ../compass/sass/styles.scss */
.app-header .nav-name .seafoam-green {
  color: #80CC95;
  font-size: 24px;
}
/* line 96, ../compass/sass/styles.scss */
.app-header .navbar {
  float: right;
}
/* line 98, ../compass/sass/styles.scss */
.app-header .navbar .topnav {
  float: right;
}
/* line 100, ../compass/sass/styles.scss */
.app-header .navbar .topnav #hamburger {
  font-size: 30px;
}
/* line 104, ../compass/sass/styles.scss */
.app-header .navbar li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
  color: #373737;
  text-decoration: none;
}
/* line 110, ../compass/sass/styles.scss */
.app-header .navbar li:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
  text-decoration: none;
}
/* line 119, ../compass/sass/styles.scss */
.app-header .navbar li:hover:after {
  width: 100%;
  background: #80CC95;
  color: #80CC95;
  text-decoration: none;
}
/* line 125, ../compass/sass/styles.scss */
.app-header .navbar li:active {
  text-decoration: none;
  color: #80CC95;
}
/* line 129, ../compass/sass/styles.scss */
.app-header .navbar li:visited {
  color: #373737;
  text-decoration: none;
}

/* line 140, ../compass/sass/styles.scss */
.custom-button {
  padding: 8px 15px;
  font-size: 14px;
  margin: 3px;
  color: #373737;
  border: 2px solid #373737;
  display: inline-block;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
}
/* line 150, ../compass/sass/styles.scss */
.custom-button:hover, .custom-button:active, .custom-button:visited {
  color: #373737;
  text-decoration: none;
  background-color: #80CC95;
}

/* line 157, ../compass/sass/styles.scss */
.back-button {
  padding: 8px 15px;
  font-size: 14px;
  margin: 3px;
  color: #373737;
  border: 2px solid #373737;
  display: inline-block;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
}
/* line 167, ../compass/sass/styles.scss */
.back-button:hover, .back-button:active, .back-button:visited {
  color: #373737;
  text-decoration: none;
  background-color: #80CC95;
}

/* line 174, ../compass/sass/styles.scss */
.inlineblock {
  display: inline-block;
}

/* line 180, ../compass/sass/styles.scss */
.home {
  background-image: url("http://i.imgur.com/UjFsPaq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height: 100vh;
  /* Safari 4.0 - 8.0 */
}
/* line 186, ../compass/sass/styles.scss */
.home .home-bg {
  background-color: rgba(128, 204, 149, 0.7);
  padding: 30px 0;
  -webkit-animation-name: bganimation;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 5s;
  /* Safari 4.0 - 8.0 */
  animation-name: bganimation;
  animation-duration: 5s;
}
@-webkit-keyframes bganimation {
  from {
    background-color: rgba(128, 204, 149, 0.1);
  }
  to {
    background-color: rgba(128, 204, 149, 0.7);
  }
}
@keyframes bganimation {
  from {
    background-color: rgba(128, 204, 149, 0.1);
  }
  to {
    background-color: rgba(128, 204, 149, 0.7);
  }
}
/* line 204, ../compass/sass/styles.scss */
.home .hello {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  color: white;
}
/* line 209, ../compass/sass/styles.scss */
.home .intro {
  font-size: 20px;
}

/* line 217, ../compass/sass/styles.scss */
.about {
  background-image: url("http://i.imgur.com/mDPmKaC.jpg");
  background-repeat: repeat;
  height: auto;
  min-height: 100vh;
  padding: 50px;
}
/* line 223, ../compass/sass/styles.scss */
.about a {
  color: #80CC95;
}
/* line 226, ../compass/sass/styles.scss */
.about .profile-pic {
  width: 100%;
  max-width: 475px;
  border: 5px solid #80CC95;
}
/* line 231, ../compass/sass/styles.scss */
.about .about-header {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  padding-top: 20px;
}

/* line 240, ../compass/sass/styles.scss */
.portfolio {
  background-image: url("http://i.imgur.com/mDPmKaC.jpg");
  background-repeat: repeat;
  height: auto;
  min-height: 100vh;
}
/* line 246, ../compass/sass/styles.scss */
.portfolio .port-header {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
/* line 250, ../compass/sass/styles.scss */
.portfolio .port-section {
  margin-bottom: 10px;
}
/* line 253, ../compass/sass/styles.scss */
.portfolio .port-header-center {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-align: center;
}
/* line 258, ../compass/sass/styles.scss */
.portfolio .port-wrapper {
  padding: 5px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 3px solid #F4F4F4;
  -webkit-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}
/* line 265, ../compass/sass/styles.scss */
.portfolio .port-wrapper img {
  width: 100%;
  border: 1px solid #F4F4F4;
  margin-top: 30px;
  max-width: 300px;
}

/* line 276, ../compass/sass/styles.scss */
.experience {
  background-image: url("http://i.imgur.com/mDPmKaC.jpg");
  background-repeat: repeat;
  height: auto;
  min-height: 100vh;
  padding: 50px;
}
/* line 282, ../compass/sass/styles.scss */
.experience .resume-button {
  float: right;
  padding: 0 20px 20px 20px;
}
/* line 287, ../compass/sass/styles.scss */
.experience .exp-header {
  font-family: "Playfair Display", serif;
}
/* line 291, ../compass/sass/styles.scss */
.experience .exp-date-range {
  font-style: italic;
  padding-top: 10px;
}
/* line 296, ../compass/sass/styles.scss */
.experience .exp-tech-used {
  font-weight: bold;
  color: #52825F;
}
/* line 301, ../compass/sass/styles.scss */
.experience .exp-job-desc {
  padding-bottom: 20px;
}
/* line 305, ../compass/sass/styles.scss */
.experience .exp-summary, .experience .exp-title, .experience .exp-company, .experience .exp-tech-used, .experience .exp-job-desc {
  padding-left: 10px;
}
/* line 309, ../compass/sass/styles.scss */
.experience .Collapsible__trigger {
  color: #52825F;
  font-size: 16px;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
  padding-left: 10px;
}
/* line 317, ../compass/sass/styles.scss */
.experience .Collapsible__trigger:hover, .experience .Collapsible__trigger:active {
  color: #52825F;
}
/* line 321, ../compass/sass/styles.scss */
.experience .Collapsible__contentOuter {
  padding-left: 24px;
  padding-top: 5px;
}
/* line 325, ../compass/sass/styles.scss */
.experience .skills-header {
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
/* line 330, ../compass/sass/styles.scss */
.experience .learn-more {
  margin-left: 10px;
}
/* line 333, ../compass/sass/styles.scss */
.experience .skills-bg {
  background-color: #E8E8E8;
  border: 5px double #80CC95;
  padding: 20px;
}
/* line 338, ../compass/sass/styles.scss */
.experience .exp-header {
  font-weight: 700;
  padding-top: 10px;
}
/* line 343, ../compass/sass/styles.scss */
.experience .lang-sym {
  min-width: 60px;
  font-size: 11px;
  text-align: center;
  margin-bottom: 10px;
}
/* line 349, ../compass/sass/styles.scss */
.experience .lang-header {
  border-top: 2px solid #80CC95;
  margin-top: 10px;
  padding-top: 5px;
}

/* line 358, ../compass/sass/styles.scss */
.connect {
  background-image: url("http://i.imgur.com/mDPmKaC.jpg");
  background-repeat: repeat;
  height: auto;
  min-height: 100vh;
  padding: 50px;
}
/* line 364, ../compass/sass/styles.scss */
.connect .form-label {
  width: 15%;
}
/* line 368, ../compass/sass/styles.scss */
.connect .input {
  width: 85%;
  border: 1px solid #F4F4F4;
}
/* line 372, ../compass/sass/styles.scss */
.connect textarea {
  height: 100px;
}
/* line 375, ../compass/sass/styles.scss */
.connect .connect-spacing {
  line-height: 30px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  /* line 385, ../compass/sass/styles.scss */
  .nav-name {
    font-size: 30px;
    min-width: 308px;
  }

  /* line 389, ../compass/sass/styles.scss */
  .home-bg {
    margin-top: 125px;
  }

  /* line 392, ../compass/sass/styles.scss */
  .portfolio {
    padding: 50px;
  }
}
@media screen and (max-width: 768px) {
  /* line 398, ../compass/sass/styles.scss */
  #arrow-glyph {
    display: none;
  }

  /* line 401, ../compass/sass/styles.scss */
  .portfolio {
    padding: 10px;
  }

  /* line 404, ../compass/sass/styles.scss */
  .nav-name {
    font-size: 20px;
    min-width: 170px;
  }

  /* line 408, ../compass/sass/styles.scss */
  .home-bg {
    margin-top: 10px;
  }

  /* line 411, ../compass/sass/styles.scss */
  ul.topnav {
    background-color: white;
  }

  /* line 414, ../compass/sass/styles.scss */
  ul.topnav li.list-item {
    display: none;
  }

  /* line 417, ../compass/sass/styles.scss */
  #first-list-item {
    padding-top: 60px;
  }

  /* line 420, ../compass/sass/styles.scss */
  ul.topnav li.icon {
    float: right;
    display: inline-block;
    margin-right: 0px;
  }

  /* line 425, ../compass/sass/styles.scss */
  ul.topnav.responsive {
    position: absolute;
    top: 0px;
    right: 15px;
    z-index: 2;
  }

  /* line 431, ../compass/sass/styles.scss */
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  /* line 437, ../compass/sass/styles.scss */
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }

  /* line 441, ../compass/sass/styles.scss */
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }

  /* line 448, ../compass/sass/styles.scss */
  ul.topnav.responsive#myTopnav {
    padding: 10px;
  }
}
