@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,700");
@import url("https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css");
/* line 22, ../compass/sass/styles.scss */
.app {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  background-color: white;
  height: 100vh;
  color: #373737;
  font-size: 16px;
}
/* line 29, ../compass/sass/styles.scss */
.app a {
  color: #373737;
  text-decoration: none;
}
/* line 32, ../compass/sass/styles.scss */
.app a:visited {
  color: #373737;
  text-decoration: none;
}
/* line 36, ../compass/sass/styles.scss */
.app a:hover, .app a:active {
  color: #80CC95;
  text-decoration: none;
}

/* line 46, ../compass/sass/styles.scss */
ul.topnav li.icon {
  display: none;
}

/* line 50, ../compass/sass/styles.scss */
.app-header {
  background-color: white;
  height: 60px;
  padding: 20px;
  color: #373737;
  font-family: "Playfair Display", serif;
  line-height: 15px;
  border-bottom: #80CC95 solid 1px;
}
/* line 61, ../compass/sass/styles.scss */
.app-header .nav-name .seafoam-green {
  color: #80CC95;
  font-size: 24px;
}
/* line 67, ../compass/sass/styles.scss */
.app-header .navbar {
  float: right;
}
/* line 69, ../compass/sass/styles.scss */
.app-header .navbar .topnav {
  float: right;
}
/* line 71, ../compass/sass/styles.scss */
.app-header .navbar .topnav #hamburger {
  font-size: 30px;
}
/* line 75, ../compass/sass/styles.scss */
.app-header .navbar li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
  color: #373737;
  text-decoration: none;
}
/* line 81, ../compass/sass/styles.scss */
.app-header .navbar li:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
  text-decoration: none;
}
/* line 90, ../compass/sass/styles.scss */
.app-header .navbar li:hover:after {
  width: 100%;
  background: #80CC95;
  color: #80CC95;
  text-decoration: none;
}
/* line 96, ../compass/sass/styles.scss */
.app-header .navbar li:active {
  text-decoration: none;
  color: #80CC95;
}
/* line 100, ../compass/sass/styles.scss */
.app-header .navbar li:visited {
  color: #373737;
  text-decoration: none;
}

/* line 111, ../compass/sass/styles.scss */
.custom-button {
  padding: 8px 15px;
  font-size: 14px;
  margin: 3px;
  color: #373737;
  border: 2px solid #373737;
  display: inline-block;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
}
/* line 121, ../compass/sass/styles.scss */
.custom-button:hover, .custom-button:active, .custom-button:visited {
  color: #373737;
  text-decoration: none;
  background-color: #80CC95;
}

/* line 128, ../compass/sass/styles.scss */
.back-button {
  padding: 8px 15px;
  font-size: 14px;
  margin: 3px;
  color: #373737;
  border: 2px solid #373737;
  display: inline-block;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
}
/* line 138, ../compass/sass/styles.scss */
.back-button:hover, .back-button:active, .back-button:visited {
  color: #373737;
  text-decoration: none;
  background-color: #80CC95;
}

/* line 145, ../compass/sass/styles.scss */
.inlineblock {
  display: inline-block;
}

/* line 151, ../compass/sass/styles.scss */
.home {
  background-image: url("http://i.imgur.com/UjFsPaq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height: 100vh;
  /* Safari 4.0 - 8.0 */
}
/* line 157, ../compass/sass/styles.scss */
.home .home-bg {
  background-color: rgba(128, 204, 149, 0.7);
  padding: 30px 0;
  -webkit-animation-name: bganimation;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 5s;
  /* Safari 4.0 - 8.0 */
  animation-name: bganimation;
  animation-duration: 5s;
}
@-webkit-keyframes bganimation {
  from {
    background-color: rgba(128, 204, 149, 0.1);
  }
  to {
    background-color: rgba(128, 204, 149, 0.7);
  }
}
@keyframes bganimation {
  from {
    background-color: rgba(128, 204, 149, 0.1);
  }
  to {
    background-color: rgba(128, 204, 149, 0.7);
  }
}
/* line 175, ../compass/sass/styles.scss */
.home .hello {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  color: white;
}
/* line 180, ../compass/sass/styles.scss */
.home .intro {
  font-size: 20px;
}

/* line 188, ../compass/sass/styles.scss */
.about {
  background-image: url("http://i.imgur.com/mDPmKaC.jpg");
  background-repeat: repeat;
  height: auto;
  min-height: 100vh;
  padding: 50px;
}
/* line 194, ../compass/sass/styles.scss */
.about a {
  color: #80CC95;
}
/* line 197, ../compass/sass/styles.scss */
.about .profile-pic {
  width: 100%;
  max-width: 475px;
  border: 5px solid #80CC95;
}
/* line 202, ../compass/sass/styles.scss */
.about .about-header {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  padding-top: 20px;
}

/* line 211, ../compass/sass/styles.scss */
.portfolio {
  background-image: url("http://i.imgur.com/mDPmKaC.jpg");
  background-repeat: repeat;
  height: auto;
  min-height: 100vh;
}
/* line 217, ../compass/sass/styles.scss */
.portfolio .port-header {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
/* line 221, ../compass/sass/styles.scss */
.portfolio .port-section {
  margin-bottom: 10px;
}
/* line 224, ../compass/sass/styles.scss */
.portfolio .port-wrapper {
  padding: 5px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 3px solid #F4F4F4;
  -webkit-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}
/* line 231, ../compass/sass/styles.scss */
.portfolio .port-wrapper img {
  width: 100%;
  border: 1px solid #F4F4F4;
  margin-top: 30px;
  max-width: 300px;
}

/* line 242, ../compass/sass/styles.scss */
.experience {
  background-image: url("http://i.imgur.com/mDPmKaC.jpg");
  background-repeat: repeat;
  height: auto;
  min-height: 100vh;
  padding: 50px;
}
/* line 248, ../compass/sass/styles.scss */
.experience .Collapsible__trigger {
  color: #373737;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
  padding-left: 24px;
}
/* line 255, ../compass/sass/styles.scss */
.experience .Collapsible__trigger:hover, .experience .Collapsible__trigger:active {
  color: #80CC95;
}
/* line 259, ../compass/sass/styles.scss */
.experience .Collapsible__contentOuter {
  padding-left: 24px;
  padding-top: 5px;
}
/* line 263, ../compass/sass/styles.scss */
.experience .skills-header {
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
/* line 268, ../compass/sass/styles.scss */
.experience .learn-more {
  margin-left: 10px;
}
/* line 271, ../compass/sass/styles.scss */
.experience .skills-bg {
  background-color: #E8E8E8;
  border: 5px double #80CC95;
  padding: 20px;
}
/* line 276, ../compass/sass/styles.scss */
.experience .exp-header {
  font-weight: 700;
}
/* line 280, ../compass/sass/styles.scss */
.experience .lang-sym {
  min-width: 60px;
  font-size: 11px;
  text-align: center;
  margin-bottom: 10px;
}
/* line 286, ../compass/sass/styles.scss */
.experience .lang-header {
  border-top: 2px solid #80CC95;
  margin-top: 10px;
  padding-top: 5px;
}

/* line 295, ../compass/sass/styles.scss */
.connect {
  background-image: url("http://i.imgur.com/mDPmKaC.jpg");
  background-repeat: repeat;
  height: auto;
  min-height: 100vh;
  padding: 50px;
}
/* line 301, ../compass/sass/styles.scss */
.connect .form-label {
  width: 15%;
}
/* line 305, ../compass/sass/styles.scss */
.connect .input {
  width: 85%;
  border: 1px solid #F4F4F4;
}
/* line 309, ../compass/sass/styles.scss */
.connect textarea {
  height: 100px;
}
/* line 312, ../compass/sass/styles.scss */
.connect .connect-spacing {
  line-height: 30px;
}

@media screen and (min-width: 768px) {
  /* line 321, ../compass/sass/styles.scss */
  .nav-name {
    font-size: 30px;
    min-width: 308px;
  }

  /* line 325, ../compass/sass/styles.scss */
  .home-bg {
    margin-top: 125px;
  }

  /* line 328, ../compass/sass/styles.scss */
  .portfolio {
    padding: 50px;
  }
}
@media screen and (max-width: 768px) {
  /* line 334, ../compass/sass/styles.scss */
  #arrow-glyph {
    display: none;
  }

  /* line 337, ../compass/sass/styles.scss */
  .portfolio {
    padding: 0px;
  }

  /* line 340, ../compass/sass/styles.scss */
  .nav-name {
    font-size: 20px;
    min-width: 170px;
  }

  /* line 344, ../compass/sass/styles.scss */
  .home-bg {
    margin-top: 10px;
  }

  /* line 347, ../compass/sass/styles.scss */
  ul.topnav {
    background-color: white;
  }

  /* line 350, ../compass/sass/styles.scss */
  ul.topnav li.list-item {
    display: none;
  }

  /* line 353, ../compass/sass/styles.scss */
  #first-list-item {
    padding-top: 60px;
  }

  /* line 356, ../compass/sass/styles.scss */
  ul.topnav li.icon {
    float: right;
    display: inline-block;
    margin-right: 0px;
  }

  /* line 361, ../compass/sass/styles.scss */
  ul.topnav.responsive {
    position: absolute;
    top: 0px;
    right: 15px;
    z-index: 2;
  }

  /* line 367, ../compass/sass/styles.scss */
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  /* line 373, ../compass/sass/styles.scss */
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }

  /* line 377, ../compass/sass/styles.scss */
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }

  /* line 384, ../compass/sass/styles.scss */
  ul.topnav.responsive#myTopnav {
    padding: 10px;
  }
}
