@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,700");
@import url("https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css");
/* line 6, ../compass/sass/views/_home.scss */
.app {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  background-color: white;
  height: 100vh;
  color: #373737;
  font-size: 16px;
}

/* line 15, ../compass/sass/views/_home.scss */
ul.topnav li.icon {
  display: none;
}

@media screen and (max-width: 750px) {
  /* line 18, ../compass/sass/views/_home.scss */
  .app-header {
    height: 120px;
  }

  /* line 21, ../compass/sass/views/_home.scss */
  ul.topnav li:not(:first-child) {
    display: none;
  }

  /* line 22, ../compass/sass/views/_home.scss */
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }

  /* line 26, ../compass/sass/views/_home.scss */
  ul.topnav.responsive {
    position: relative;
  }

  /* line 27, ../compass/sass/views/_home.scss */
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  /* line 32, ../compass/sass/views/_home.scss */
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }

  /* line 36, ../compass/sass/views/_home.scss */
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
/* line 42, ../compass/sass/views/_home.scss */
.app-header {
  background-color: white;
  height: 60px;
  padding: 20px;
  color: #373737;
  font-family: "Playfair Display", serif;
  line-height: 15px;
  border-bottom: #80CC95 solid 1px;
}
/* line 50, ../compass/sass/views/_home.scss */
.app-header .nav-name {
  font-size: 30px;
}
/* line 52, ../compass/sass/views/_home.scss */
.app-header .nav-name .seafoam-green {
  color: #80CC95;
  font-size: 24px;
}
/* line 61, ../compass/sass/views/_home.scss */
.app-header .navbar {
  float: right;
}
/* line 64, ../compass/sass/views/_home.scss */
.app-header .navbar .topnav {
  float: right;
}
/* line 67, ../compass/sass/views/_home.scss */
.app-header .navbar li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
  color: #373737;
  text-decoration: none;
}
/* line 73, ../compass/sass/views/_home.scss */
.app-header .navbar li:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
  text-decoration: none;
}
/* line 82, ../compass/sass/views/_home.scss */
.app-header .navbar li:hover:after {
  width: 100%;
  background: #80CC95;
  color: #80CC95;
  text-decoration: none;
}
/* line 88, ../compass/sass/views/_home.scss */
.app-header .navbar li:active {
  text-decoration: none;
  color: #80CC95;
}
/* line 92, ../compass/sass/views/_home.scss */
.app-header .navbar li:visited {
  color: #373737;
  text-decoration: none;
}

/* line 100, ../compass/sass/views/_home.scss */
a {
  color: #373737;
  text-decoration: none;
}
/* line 103, ../compass/sass/views/_home.scss */
a:visited {
  color: #373737;
  text-decoration: none;
}
/* line 107, ../compass/sass/views/_home.scss */
a:hover, a:active {
  color: #80CC95;
  text-decoration: none;
}

/* line 113, ../compass/sass/views/_home.scss */
.custom-button {
  padding: 8px 15px;
  font-size: 14px;
  margin: 3px;
  color: #373737;
  border: 2px solid #373737;
  display: inline-block;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  transition-duration: 0.5s;
}
/* line 123, ../compass/sass/views/_home.scss */
.custom-button:hover, .custom-button:active, .custom-button:visited {
  color: #373737;
  text-decoration: none;
  background-color: #80CC95;
}

/* line 129, ../compass/sass/views/_home.scss */
.inlineblock {
  display: inline-block;
}

/* line 133, ../compass/sass/views/_home.scss */
.home {
  background-image: url("http://i.imgur.com/UjFsPaq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* Safari 4.0 - 8.0 */
}
/* line 139, ../compass/sass/views/_home.scss */
.home .home-bg {
  background-color: rgba(128, 204, 149, 0.7);
  padding: 30px 0;
  margin-top: 125px;
  -webkit-animation-name: bganimation;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 5s;
  /* Safari 4.0 - 8.0 */
  animation-name: bganimation;
  animation-duration: 5s;
}
@-webkit-keyframes bganimation {
  from {
    background-color: rgba(128, 204, 149, 0.1);
  }
  to {
    background-color: rgba(128, 204, 149, 0.7);
  }
}
@keyframes bganimation {
  from {
    background-color: rgba(128, 204, 149, 0.1);
  }
  to {
    background-color: rgba(128, 204, 149, 0.7);
  }
}
/* line 157, ../compass/sass/views/_home.scss */
.home .hello {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  color: white;
}
/* line 162, ../compass/sass/views/_home.scss */
.home .intro {
  font-size: 20px;
}

/* line 168, ../compass/sass/views/_home.scss */
.about {
  background-image: url("http://i.imgur.com/mDPmKaC.jpg");
  background-repeat: repeat;
  height: 100vh;
  padding: 50px;
}
/* line 173, ../compass/sass/views/_home.scss */
.about a {
  color: #80CC95;
}
/* line 176, ../compass/sass/views/_home.scss */
.about .profile-pic {
  width: 100%;
  max-width: 475px;
  border: 5px solid #80CC95;
}
/* line 181, ../compass/sass/views/_home.scss */
.about .about-header {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  padding-top: 20px;
}

/* line 188, ../compass/sass/views/_home.scss */
.portfolio {
  background-image: url("http://i.imgur.com/mDPmKaC.jpg");
  background-repeat: repeat;
  height: 100vh;
  padding: 50px;
}
/* line 193, ../compass/sass/views/_home.scss */
.portfolio .port-header {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
/* line 197, ../compass/sass/views/_home.scss */
.portfolio .port-section {
  margin-bottom: 10px;
}
/* line 200, ../compass/sass/views/_home.scss */
.portfolio .port-wrapper {
  padding: 5px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 3px solid #F4F4F4;
  -webkit-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}
/* line 207, ../compass/sass/views/_home.scss */
.portfolio .port-wrapper img {
  width: 100%;
  border: 1px solid #F4F4F4;
  margin-top: 30px;
  max-width: 300px;
}

/* line 216, ../compass/sass/views/_home.scss */
.experience {
  background-image: url("http://i.imgur.com/mDPmKaC.jpg");
  background-repeat: repeat;
  height: 100vh;
  padding: 50px;
}
/* line 221, ../compass/sass/views/_home.scss */
.experience .Collapsible__trigger {
  font-weight: 700;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  cursor: pointer;
}
/* line 226, ../compass/sass/views/_home.scss */
.experience .Collapsible__trigger:hover {
  color: #787D73;
}
/* line 230, ../compass/sass/views/_home.scss */
.experience .skills-header {
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
/* line 234, ../compass/sass/views/_home.scss */
.experience .skills-bg {
  background-color: #E8E8E8;
  border: 5px double #80CC95;
  padding: 20px;
}
/* line 239, ../compass/sass/views/_home.scss */
.experience .exp-header {
  font-weight: 700;
}
/* line 243, ../compass/sass/views/_home.scss */
.experience .lang-sym {
  min-width: 45px;
  font-size: 11px;
  text-align: center;
  margin-bottom: 10px;
}
/* line 249, ../compass/sass/views/_home.scss */
.experience .lang-header {
  border-top: 2px solid #80CC95;
  margin-top: 10px;
  padding-top: 5px;
}

/* line 257, ../compass/sass/views/_home.scss */
.connect {
  background-image: url("http://i.imgur.com/mDPmKaC.jpg");
  background-repeat: repeat;
  height: 100vh;
  padding: 50px;
}
/* line 262, ../compass/sass/views/_home.scss */
.connect .form-label {
  width: 15%;
}
/* line 266, ../compass/sass/views/_home.scss */
.connect .input {
  width: 85%;
  border: 1px solid #F4F4F4;
}
/* line 270, ../compass/sass/views/_home.scss */
.connect textarea {
  height: 100px;
}
/* line 273, ../compass/sass/views/_home.scss */
.connect .connect-spacing {
  line-height: 30px;
}
